<div id="_copy">
  <form class="_copy_edit_form" data-content-name="<%= @name %>" action="/_copy/<%= @name %>">
    <% if @doc =~ /\n/  %>
      <textarea name="content"><%=h @doc %></textarea>
    <% else %>
      <input type="text" name="content" value="<%=h @doc %>" />
    <% end %>
    <p class="_copy_footer _copy_footer_left">
      <input class="_copy_submit" type="submit" value="Save" />
      or <a class="_copy_cancel" href="#">cancel</a>
    </p>
    <p class="_copy_footer _copy_footer_right">
      Format text with <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a>.
    </p>
  </form>
</div>