<!doctype html> 
<html> 
<head> 
  <meta charset="utf-8"> 
  <title>I love Copy</title> 
  <link rel="stylesheet" href="/stylesheets/main.css">
</head> 
<body>
  
  <%= yield %>
  
  <script src="/javascripts/main.js"></script>
</body> 
</html>